.Modal {
  padding: 20px 20px 40px 20px;
  min-width: 300px;
  min-height: 200px;
  max-width: 700px;
  background: #8a8a8a;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

.Modal__close {
  font-size: 3em;
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: flex-end;
  top: 33px;
  right: 30px;
  cursor: pointer;
  padding: 5px;
  color: rgb(44, 44, 44);
  transform: rotate(45deg);
  transition: all 0.2s;
  z-index: 1;
}
.Modal__close:hover {
  color: red;
}

.Modal__body {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .Modal {
    padding: 15px 70px 15px 15px;
  }
}
