.JordanLista {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
  }

  .cards{
    align-items: center;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.5);
    width: 370px;
    padding-bottom: .3em;
  }

  .JordanListaItem {
    flex-direction: column;
    padding: 10px;
    width: 280px;
    display: flex;
    justify-content: center;
  }
  
  .JordanListaItem__foto--img {
    display: flex;
    justify-content: center; 
    margin-top: .35em;
    max-width: 340px;
    transition: 0.6s;
    border-radius: 6px;
}

.JordanListaItem__foto--img:hover{
    transform: scale(1.03);
}

  .JordanListaItem__modelo {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 700;
    border-top: 2px solid black;
    padding: .5em;
    min-height: 65px;
    align-items: center;
  }
  
  .JordanListaItem__descricao {
    font-size: 1rem;
    text-align: left;
    min-height: 170px;
  }
  
  .JordanListaItem__preco {
    margin-top: 0.5em;
    font-weight: 700;
    margin-left: .3em;
    font-weight: 700;
  }
  
  .Acoes {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }
  
  .Acoes__adicionar,
  .Acoes__remover {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
  }
  
  .Acoes__remover {
    background-color: red;
  }
  
  .Acoes__adicionar {
    background-color: darkviolet;
  }
  
  .Acoes__adicionar--preencher {
    width: 100%;
  }
  
  .JordanListaItem__foto{
    display: flex;
    justify-content: center;
  }

 